@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

@{
    var token = HttpContextAccessor.HttpContext.Session.GetString("JwtToken");
    var isLoggedIn = !string.IsNullOrEmpty(token);
    string userName = "";
    bool isAdmin = false;
    int idUser = 0;

    if (isLoggedIn)
    {
        var handler = new JwtSecurityTokenHandler();
        var jwtToken = handler.ReadJwtToken(token);
        var claim = jwtToken.Claims.FirstOrDefault(c => c.Type == "unique_name");
        var roleClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "role");
        var claimUser = jwtToken.Claims.FirstOrDefault(c => c.Type == "nameid");

        if (claim != null) userName = claim.Value;
        if (claimUser != null) idUser = int.Parse(claimUser.Value);
        if (roleClaim?.Value == "Admin") isAdmin = true;
    }
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mẫu thời trang nam">
    <meta name="keywords" content="Thời trang nam, unica, sáng tạo, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thời Trang Nam | Mẫu giao diện</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/SbHome/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/SbHome/css/style.css" type="text/css">
    <!-- Bootstrap CSS (nếu chưa có) -->


</head>

<body>
    <!-- Trang tải trước -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Menu di động bắt đầu -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Đăng nhập</a>
                <a href="#">Câu hỏi thường gặp</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>USD <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>VND</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/SbHome/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/SbHome/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/SbHome/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">0₫</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Miễn phí vận chuyển, đổi trả hoặc hoàn tiền trong 30 ngày.</p>
        </div>
    </div>
    <!-- Menu di động kết thúc -->
    <!-- Phần đầu trang bắt đầu -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Miễn phí vận chuyển, đổi trả hoặc hoàn tiền trong 30 ngày.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">                        
                            @if (isLoggedIn)
                            {
                                <div class="header__top__links">
                                    <a asp-action="GetUserById" asp-controller="User" asp-route-id="@idUser">@userName</a>
                                </div>
                                <div class="header__top__links">
                                    <a asp-action="LogOut" asp-controller="Auth">Đăng xuất</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__links">
                                    <a asp-action="LogIn" asp-controller="Auth">Đăng nhập</a>
                                </div>
                                <div class="header__top__links">
                                    <a asp-action="Register" asp-controller="Auth">Đăng ký</a>
                                </div>
                            }
                            <div class="header__top__hover">
                                <span>USD <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>VND</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="Home"><img src="~/SbHome/img/super.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li><a asp-action="Index" asp-controller="Product">Cửa hàng</a></li>
                            <li>
                                <a href="#">Trang</a>
                                <ul class="dropdown">
                                    <li><a asp-action="AboutUs" asp-controller="Page">Về chúng tôi</a></li>
                                    <li><a href="./shop-details.html">Chi tiết sản phẩm</a></li>
                                    <li><a href="./shopping-cart.html">Giỏ hàng</a></li>
                                    <li><a href="./checkout.html">Thanh toán</a></li>
                                    <li><a href="./blog-details.html">Chi tiết blog</a></li>
                                </ul>
                            </li>
                            <li><a asp-action="Blog" asp-controller="Home">Blog</a></li>
                            <li><a asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="~/SbHome/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="~/SbHome/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="~/SbHome/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">0₫</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Phần đầu trang kết thúc -->
    <!-- Render nội dung -->
    @RenderBody()

    <!-- Phần chân trang bắt đầu -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="~/SbHome/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Khách hàng là trung tâm trong mô hình kinh doanh độc đáo của chúng tôi, bao gồm thiết kế và sáng tạo.</p>
                        <a href="#"><img src="~/SbHome/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Mua sắm</h6>
                        <ul>
                            <li><a href="#">Cửa hàng quần áo</a></li>
                            <li><a href="#">Giày xu hướng</a></li>
                            <li><a href="#">Phụ kiện</a></li>
                            <li><a href="#">Giảm giá</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Hỗ trợ</h6>
                        <ul>
                            <li><a href="#">Liên hệ chúng tôi</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Giao hàng</a></li>
                            <li><a href="#">Đổi/trả hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Bản tin</h6>
                        <div class="footer__newslatter">
                            <p>Hãy là người đầu tiên biết về hàng mới, khuyến mãi và ưu đãi!</p>
                            <form action="#">
                                <input type="text" placeholder="Email của bạn">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>
                            Bản quyền ©
                            <script>document.write(new Date().getFullYear());</script>2020
                            Mọi quyền được bảo lưu | Mẫu giao diện được thiết kế với <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Phần chân trang kết thúc -->
    <!-- Tìm kiếm bắt đầu -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Tìm kiếm...">
            </form>
        </div>
    </div>
    <!-- Tìm kiếm kết thúc -->
    <!-- Plugin JS -->
    <script src="~/SbHome/js/jquery-3.3.1.min.js"></script>
    <script src="~/SbHome/js/bootstrap.min.js"></script>
    <script src="~/SbHome/js/jquery.nice-select.min.js"></script>
    <script src="~/SbHome/js/jquery.nicescroll.min.js"></script>
    <script src="~/SbHome/js/jquery.magnific-popup.min.js"></script>
    <script src="~/SbHome/js/jquery.countdown.min.js"></script>
    <script src="~/SbHome/js/jquery.slicknav.js"></script>
    <script src="~/SbHome/js/mixitup.min.js"></script>
    <script src="~/SbHome/js/owl.carousel.min.js"></script>
    <script src="~/SbHome/js/main.js"></script>
</body>

</html>
